<div class="container">
  <h1 class="mt-4 mb-4">ショッピングカート</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">商品名</th>
        <th scope="col">価格</th>
        <th scope="col">数量</th>
        <th scope="col">合計</th>
      </tr>
    </thead>

    <tbody>
      <% @cart_items.each do |item| %>
        <tr>
          <td><%= item.product.name %></td>
          <td><%= number_to_currency(item.product.price) %></td>
          <td><%= item.quantity %></td>
          <td><%= number_to_currency(item.product.price * item.quantity) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
